@import '../../node_modules/swiper/swiper-bundle.css';

.header{
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 1;
  width: 100%;
  background: url("../img/bg.jpg") no-repeat center center / cover;
  &__img{
    display: block;
    padding-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  &__title{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    font-size: 170px;
    color: white;
    margin: 0;
  }
  &__arrow{
    position: absolute;
    bottom: -100px;
    right: -250px;
    z-index: 0;
  }
  &__girl{
    position: absolute;
    top: -100px;
    right: 0;
  }
  p{
    max-width: 360px;
    margin-top: 40%;
    font-weight: 600;
  }
  strong{
    display: block;
    margin-top: 5%;
    text-transform: uppercase;
    color: #dc4128;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 20px;
  }
}

.timer{
  position: relative;
  color: white;
  padding-bottom: 50px;
  &__title{
    position: relative;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 50px;
    z-index: 3;
  }
  .timer__items {
    display: flex;
    justify-content: center;
    font-size: 60px;
  }
  .timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
    z-index: 3;
  }
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
  }
  &__bg{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
.events{
  padding: 10px 0;
  &__title{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #dc4128;
  }
}
.card{
  display: block;
  color:white;
  position: relative;
  padding: 20px;
  height: 300px;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 5px;
  &:hover{
    color: white;
    &:hover span{
      background-color: #dc4128;
      transition: all 0.5s linear;
    }
    &:hover span svg{
      fill: white;
      transition: all 0.5s linear;
    }
  }
  &__title{
    font-size: 3rem;
    width: 70%;
    text-shadow: 0 0 1px #999,
    1px 1px 1px #888,
    2px 2px 1px #777;
  }
  &__text{
    font-size: 1rem;
    width: 70%;
    text-shadow: 0 0 1px #999,
    1px 1px 1px #888;
  }

  &__regiment{
    background: url("../img/regiment.jpg") rgba(0, 0, 0, .5) no-repeat top center / cover;
  }

  &__letters{
    background: url("../img/letters.jpg") rgba(0, 0, 0, .5) no-repeat top center / cover;
  }
  &__slepov{
    background: url("../img/slepov.jpg") rgba(0, 0, 0, .5) no-repeat top center / cover;
  }
  &__nkvd{
    background: url("../img/history.jpg") rgba(0, 0, 0, .5) no-repeat top center / cover;
  }
  span{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s linear;
    svg{
      display: block;
      fill: #dc4128;
      transition: all 0.5s linear;
    }
  }
}

.documents{
  a{
    display: block;
    margin-top: 5px;
    position: relative;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    color: black;
    border: 1px solid #dc4128;
    &:before{
      content:'';
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 30px;
      height: 30px;
      background: url("../img/pdf.svg") no-repeat center / cover;
    }
    &:after{
      content:'';
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 30px;
      height: 30px;
      background: url("../img/download.svg") no-repeat center / cover;
    }
  }
}

.films{
  a{
    display: block;
    margin-top: 5px;
    text-decoration: none;
    width: 100%;
    height: 300px;
    position: relative;
    &:after{
      content: '';
      display: block;
      position: absolute;
      height: 50px;
      width: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("../img/play.svg") no-repeat center /cover;
      transition: background 0.5s linear;
    }
    a:hover a:after{
      transition: background 0.5s linear;
      background: url("../img/play-white.svg") no-repeat center /cover;
    }
  }
  &__title{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 0 0 1px #999,
    1px 1px 1px #888,
    2px 2px 1px #777;
  }
  &__stalingrad{
    background: url("../img/stalingrad.jpg") no-repeat center center/ cover;
  }
  &__kursk{
    background: url("../img/screenshot_kuck.png") no-repeat center center/ cover;
  }
  &__caucasus{
    background: url("../img/screenshot_caus.png") no-repeat center center/ cover;
  }
}

.image-swiper {
  max-width: 700px;
  width: 100%;
  height: 100%;
  max-height: 400px;
  img{
    display: block;
    width: 100%;
    object-fit: cover;
    &:hover{
      cursor: pointer;
    }
  }
  .swiper-button-next, .swiper-button-prev{
    color:white;
  }
  .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
  }
}
.history{
  &__slider{
    height:100%;
    max-height: 600px;
    img{
      display: block;
      width: 100%;
      object-fit: cover;
      &:hover{
        cursor: pointer;
      }
    }
    .swiper-pagination-bullet{
      width: 30px;
      height: 5px;
      background-color: white;
      border-radius: 0;
    }
  }
  .history__item{
    position: relative;
    a{
      display: block;
      text-decoration: none;
      font-size: 20px;
      padding: 1.5%;
      position: absolute;
      z-index: 5;
      bottom: 35%;
      right: 10%;
      background-color: #dc4128;
      color:white;
      border-radius: 30px;
      transition: all 0.5s linear;
      &:hover{
        background-color: white;
        color:#dc4128;
        transition: all 0.5s linear;
      }
    }
  }
}

@media (max-width: 1200px){
  .header__arrow{
    bottom: -300px;
    right: -700px;
  }
  .header__girl{
    top: -40px;
    width: 500px;
    height: 700px;
  }
}
@media (max-width: 992px){
  .header__arrow{
    right: -900px;
  }
  .header__girl{
    width: 300px;
    height: 500px;
    top: 90px;
  }
  .header__title{
    font-size: 100px;
  }
  .header strong{
    font-size: 25px;
  }
  .header p{
    font-size: 15px;
  }
}

@media (max-width: 768px){
  .timer{
    padding-bottom: 0;
  }
  .card__title{
    font-size: 2rem;
  }
  .card__text{
    font-size: 0.8rem;
  }
  .header__arrow{
    right: -900px;
  }
  .header__girl{
   display: none;
  }
  .header__title{
    font-size: 100px;
  }
  .header strong{
    font-size: 25px;
  }
  .header p{
    position: relative;
    z-index: 10;
    font-size: 15px;
  }
}
@media (max-width: 478px){
  .header__title{
    font-size: 60px;
  }
  .events{
    padding: 0;
  }
  .header__arrow{
    right: -1000px;
    bottom: -350px;
  }
  .history .history__item a{
    padding: 1%;
    bottom: 20%;
    font-size: 15px;
  }
}

@media (max-width: 329px){
  .card__text{
    font-size: 0.7rem;
  }
}